@import './base.css';

/* actions bar at the top of the main section */
#actions-bar {

    height: 50px;

    /* padding around all actions as a whole */
    padding: 0 20px;

    /* is a flex container */
    display: flex;

    /* pushes the first group of actions to the start and the second group of actions to the end */
    justify-content: space-between;

    /* border between actions bar and the content below it */
    border-bottom: 1px solid lightgray;
}

/* one group of actions in the actions bar */
#actions-bar .actions {

    /* is a flex container */
    display: flex;

    /* vertical-align the actions */
    align-items: center;

    /* gap between individual actions */
    gap: 20px;
}

#content {

    /* takes up the rest of the leftover space */
    flex-grow: 1;

    /* is a flex container */
    display: flex;

    /* contents of this container go top-to-bottom */
    flex-direction: column;

    /* crop the height of this container even if its contents overflow (no scroll) */
    overflow-y: hidden;
}

#content-title {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 10px 20px;

    /* is a flex container */
    display: flex;

}

#content-main {
    /* takes up the rest of the leftover space (pushes the footer to the bottom always) */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding: 10px 20px 20px 20px;
}

#content-main>.v-card {
    overflow-y: hidden;
    flex-grow: 1;
    display: flex;
}

#content-main>.v-card>.v-card-text {
    overflow-y: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0
}

.scrollable {
    flex-grow: 1;
    overflow-y: scroll !important;
    /* makes this scrollable */
}

#content .footer {
    display: flex;
    justify-content: center;
    background-color: #F6F6F6;
    min-height: 32px;
}

table {
    border-collapse: collapse;
    position: relative;
    width: 100%;
}

th {
    background-color: #F6F6F6;
    z-index: 1;
    position: sticky;
    top: 0;
    font-weight: normal;
    font-size: 0.75rem;
}

td {
    font-size: 0.875rem;
}

td,
th {
    padding: 0px 15px;
    height: 32px;
    border-bottom: 1px solid lightgray;
    text-align: left;
}

.selected-row {
    background-color: #D6DBDF;
}

.v-card,
.v-expansion-panels {
    border-radius: 6px;
    border: 1px solid lightgray;
}