@import './base.css';

/*-----------------------------------------------------------------------------
    Variable definitions
*/
:root {
    --divider-color: #BDBDBD;
    --table-header-and-footer-bg-color: #9E9E9E;
    --table-header-and-footer-color: white;
    --table-body-bg-color: #F5F5F5;
    --table-row-divider-color: #BDBDBD;
    --selected-bg-color: #BAD6EB;
}

/*-----------------------------------------------------------------------------
    The html body. 
    Takes up the whole viewport always, with no margin. 
*/
body {
    margin: 0;
    position: absolute;
    inset: 0;
}

/*-----------------------------------------------------------------------------
    The whole app. 
    Takes up the whole viewport always. 
    Is a flex container, with its items positioned row-wise.
*/
#app {
    position: absolute;
    inset: 0;
    display: flex;
}

table {
    border-collapse: collapse;
}

td {
    font-size: 0.9rem;
}

th {
    font-weight: normal;
    font-size: 0.8rem;
    text-align: start;
}

th,
td {
    padding: 5px 15px;
}

.gap-3 {
    gap: 12px;
}